<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Paho.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="PahoDBContext" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Paho.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Server=tcp:jrlb5bioit.database.windows.net,1433;Database=PahoSPA_db;User ID=sxu@jrlb5bioit;Password=Emily011$;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="DefaultConnection" connectionString="Server=tcp:jrlb5bioit.database.windows.net,1433;Database=Paho_SAT;User ID=sxu@jrlb5bioit;Password=Emily011$;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!-- add connectionString="Server=hq-stg-sql-08;Database=PahoFlu;User ID=PAHOFLuUser;Password=12345678" name="DefaultConnection" providerName="System.Data.SqlClient" / -->
    <add connectionString="Server=LOCALHOST\SQLEXPRESS;Database=PAHOFLU_PROD;Trusted_Connection=Yes;MultipleActiveResultSets=True" name="DefaultConnection" providerName="System.Data.SqlClient" />
    <!--add connectionString="Server=HUASCARAN;Database=PAHOFLU_PROD;Trusted_Connection=Yes;MultipleActiveResultSets=True" name="DefaultConnection" providerName="System.Data.SqlClient" /-->
    <!-- add name="PahoFluEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hq-stg-sql-08;initial catalog=PahoFlu;user id=PAHOFLuUser;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PahoFluEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hq-stg-sql-08;initial catalog=PahoFlu;user id=PAHOFLuUser;password=12345678;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" / -->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Enabled" />
    <add key="GraphicsPath" value="C:\inetpub\wwwroot\Template\Graphics\" />
    <add key="ImportTemplate" value="C:\inetpub\wwwroot\Template\Import\ExportNoInsertados_{countryId}.xlsx" />
    <add key="ImportFailedFolder" value="C:\inetpub\wwwroot\Template\ImportFailed\" />
    <add key="ImportTempFolder" value="C:\inetpub\wwwroot\Template\ImportTemp\" />
    <add key="FluIDTemplate" value="C:\inetpub\wwwroot\Template\FluID\FluID_{countryId}.xlsx" />
    <add key="SariTemplate" value="C:\inetpub\wwwroot\Template\Export\Sari_{report}_{countryId}.xlsx" />
    <add key="DenominadoresTemplate" value="C:\inetpub\wwwroot\Template\Export\Denominadores_{report}_{countryId}.xlsx" />
    <add key="BitacoraTemplate" value="C:\inetpub\wwwroot\Template\Export\Bitacora_{report}_{countryId}.xlsx" />
    <add key="DictionaryTemplate" value="C:\inetpub\wwwroot\Template\Export\Diccionario.xlsx" />    
    <add key="PrintTestTemplate" value="C:\inetpub\wwwroot\Template\Print\Form_{countryId}.xlsx" />
    <add key="graphG0Transform" value="C:\inetpub\wwwroot\pahoflu\Content\xsl\graphG0.xsl" />
    <add key="graphG4Transform" value="C:\inetpub\wwwroot\pahoflu\Content\xsl\graphG4.xsl" />
    <add key="graphG5Transform" value="C:\inetpub\wwwroot\pahoflu\Content\xsl\graphG5.xsl" />
    <add key="PathPrintTest" value="C:\inetpub\wwwroot\Template\PrintTempCHI\" />
    <add key="IndicadoresDesempenio" value="C:\inetpub\wwwroot\Template\Export\IndicDesemp_{report}_{countryId}.xlsx" />
    <add key="IndicadoresDesempenioMetas_7" value="90%:100%:90%:2D:3D:1D" />
    <add key="IndicadoresDesempenioMetas_3" value="90%:100%:90%:2D:3D:1D" />
    <add key="IndicadoresDesempenioMetas_9" value="90%:100%:90%:2D:3D:1D" />
    <add key="IndicadoresDesempenioMetas_25" value="90%:100%:90%:2D:3D:1D" />
    <add key="lang" value="ENG" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" executionTimeout="1000000" maxRequestLength="20480" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>