<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <!--add connectionString="Server=LOCALHOST\SQLEXPRESS;Database=PAHOFLU_PROD;Trusted_Connection=Yes;MultipleActiveResultSets=True" name="DefaultConnection" providerName="System.Data.SqlClient"/-->
    <!--add name="DefaultConnection" connectionString="Server=HUALLAGA\SQLEXPRESS;Database=PAHOFLU_PROD;Trusted_Connection=Yes;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/-->
    <add name="DefaultConnection" connectionString="Server=sqlexpress.cower87jfreh.us-east-2.rds.amazonaws.com;Database=PAHOFLU_PROD;Trusted_Connection=No;MultipleActiveResultSets=True;User ID=pahofludbadm;Password=Paho2019flu12" providerName="System.Data.SqlClient"/>
    <!--add name="DefaultConnection" connectionString="Server=201.195.230.54;Database=PAHOflu;Trusted_Connection=No;MultipleActiveResultSets=True;User ID=flupaho;Password=GZF357vnr" providerName="System.Data.SqlClient"/-->
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>