USE [PAHOFLU_PROD]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 24-Aug-17 12:40:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[Culture] [varchar](50) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Value] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC,
	[Culture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Resources] ([Culture], [Name], [Value]) VALUES (N'en', N'msgCaselistVigTabCase', N'Pacient case')
INSERT [dbo].[Resources] ([Culture], [Name], [Value]) VALUES (N'es', N'msgCaselistVigTabCase', N'Estado caso')
INSERT [dbo].[Resources] ([Culture], [Name], [Value]) VALUES (N'en', N'msgCaselistVigTabContact', N'Surveillance data')
GO
